$break-small: 700px;
$break-large: 900px;
$break-md: 1281px;

.actionteaser {
  background-color: #f5c5d1;
  color: #5a5a5a;

  font-size: 12px;
  line-height: 1.714;
  text-align: center;

  &__code {
    margin-left: 20px;
    font-weight: 100;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    letter-spacing: .05em;

    @media screen and (max-width: 460px) {
      display: block;
    }
  }

  &__text {
    text-decoration: underline;
  }

  @media screen and (min-width: $break-small) {
    border-top: 5px solid #f5c5d1;
    border-bottom: 5px solid #f5c5d1;
    font-size: 14px;
  }
}
