$break-small: 700px;
$break-large: 900px;
$break-md: 1281px;

.details-page {
  display: flex;
}

.details {
  width: 100%;
  margin: auto;
  overflow: hidden;

  &__img {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}
