$break-small: 700px;
$break-large: 900px;
$break-md: 1281px;

.sidecart {
  &__caption {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__order_btn {
    width: calc(100% - 2rem);
    margin: 1rem;
    padding: .8rem;
    border: none;
    background: #f5c5d1;
    color: #5a5a5a;

    text-transform: uppercase;
    outline: none;
    cursor: pointer;
  }

  &__wrap {
    position: fixed;
    top: 12rem;
    right: 1%;
    width: 19%;
    height: auto;
    max-height: calc(100% - 5rem);
    padding: .5rem 1rem;

    overflow: auto;
    transition: .5s all;
    background: #fff;
    letter-spacing: 1px;
    line-height: 1.5;
    z-index: 10;

    @media screen and (min-width: $break-small) and (max-width: $break-large) {
      width: 29%;
    }

    @media screen and (max-width: $break-small) {
      top: auto;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      max-height: 30vh;

      box-shadow: none;
      overflow: auto;
      border: 5px solid #fff;
    }

    & > .final_price {
      @media screen and (max-width: $break-small) {
        display: none;
      }
    }
  }

  &__content {
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}

.final_price {
  border-top: 1px solid #d8d8d8;
  padding: 1rem 0;
  float: left;
  width: 100%;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 1rem;
    float: left;
    width: auto;
    &:nth-child(even) {
      float: right;
    }
  }

  .cart_item {
    border: none;
    float: left;
    width: 100%;
  }
}
