.impressum {
  max-width: 700px;
  margin: 30px auto;
  font-size: 15px;
  line-height: 1.8em;

  &__caption {
    color: #e1abb9;
  }

  &__btn-wrap {
    text-align: center;

    button,
    .btn {
      display: inline-block;
      width: 150px;
      margin: 0 auto 30px;
      padding: .8rem;
      border: none;
      color: #5a5a5a;
      background-color: #f5c5d1;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
    }
  }

  strong {
    text-transform: uppercase;
  }

  a {
    margin-left: 5px;
    text-decoration: underline;
    color: #5a5a5a;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 10px;
  }
}
