$break-small: 700px;

.impressum {
  max-width: 700px;
  margin: 20px auto;
  padding: 0 20px;
  font-size: 15px;
  line-height: 1.8em;

  @media screen and (min-width: $break-small) {
    margin: 30px auto;
  }

  &__caption {
    color: #e1abb9;
  }

  &__btn-wrap {
    text-align: center;

    .btn {
      display: inline-block;
      width: 150px;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;

      &:hover,
      &:focus {
        color: #3b3b3b;
        background-color: #efbeca;
      }
    }
  }

  strong {
    text-transform: uppercase;
  }

  a {
    margin-left: 5px;
    text-decoration: underline;
    color: #5a5a5a;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 10px;
  }
}
