.impressum {
  &__caption {
    color: #e1abb9;
  }

  &__btn-wrap {
    text-align: center;

    button {
      background-color: #e1abb9;
      color: #fff;
    }
  }

  strong {
    text-transform: uppercase;
  }
}
