$break-small: 700px;
$break-large: 900px;
$break-md: 1281px;

.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  z-index: 10;
}

.popup_btn {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 6px;
  right: 3rem;
  min-width: 40px;

  color: #8a8a8a;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;

  span {
    padding-top: 3px;
  }

  &:hover {
    svg,
    span {
      fill: #f5c5d1;
      color: #f5c5d1;
    }
  }

  svg {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
    fill: #8a8a8a;
  }

  img {
    display: inline-block;
    width: 1.5rem;
    height: auto;
    margin-right: 5px;
  }

  @media screen and (max-width: $break-small) {
    bottom: 23px;
    right: 1rem;
  }
}

.drawer-toggle {
  position: absolute;
  bottom: 27px;
  left: 1rem;
  width: 20px;

  color: #8a8a8a;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;

  svg {
    fill: #8a8a8a;
  }

  &:hover {
    svg {
      fill: #f5c5d1;
    }
  }

  @media screen and (min-width: $break-small) {
    display: none;
    bottom: 5px;
  }
}

@keyframes cart_num {
  0% {
    transform: scale(0);
    box-shadow: 0px 0px 4px 2px #fff;
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 4px 10px transparent;
  }
}
