.page-modal {
  position: fixed;
  width: auto;
  max-height: 100%;
  padding: 16px;
  left: 0;
  top: 0;

  background-color: #fff;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  z-index: 200;
}

@media (min-width: 600px) {
  .page-modal {
    right: 0;
    bottom: 0;
    height: 88%;
    overflow: auto;
    background-color: #f2f2f2;
    margin: 40px;
  }
}
