.page-modal {
  position: fixed;
  width: 96%;
  max-height: 100%;
  padding: 5px 16px 16px;
  left: 50%;
  top: 50%;

  background-color: #fff;

  box-sizing: border-box;
  transition: all 0.32s ease-out;
  z-index: 200;
}

@media (min-width: 600px) {
  .page-modal {
    max-width: 80vw;
    max-height: 90vh;
  }
}
