$break-small: 700px;
$break-large: 900px;
$break-md: 1281px;

.actionteaser {
  background-color: #f5c5d1;
  color: #5a5a5a;
  border-top: 5px solid #f5c5d1;
  border-bottom: 5px solid #f5c5d1;

  font-size: 14px;
  line-height: 1.714;
  text-align: center;

  &__code {
    margin-left: 20px;
    font-weight: 100;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    letter-spacing: .05em;
  }

  &__text {
    text-decoration: underline;
  }
}

.page-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #d8d8d8;
}

.page-nav li {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 12px;
}

.page-nav a {
  color: inherit;
  text-decoration: none;
}

.page-logo {
  max-width: 150px;
  padding: 10px 10px 25px;
}

.page-header {
  position: relative;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
}

.popup_btn {
  position: absolute;
  bottom: 0;
  right: 3rem;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
}

.popup_btn img {
  width: 2rem;
  height: 2rem;
  display: block;
}

.popup_btn span {
  position: absolute;
  right: -20%;
  bottom: 0;
  height: 1.2rem;
  width: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: .7rem;
  border-radius: 100%;
  background: #f9da48;
  color: #ff5722;
  text-align: center;
  border: 2px solid #ffc107;
  animation: cart_num .3s;
}

@media screen and (max-width: $break-small) {
  .popup_btn {
    top: .7rem;
    right: 1rem;
  }

  .popup_btn img {
    width: 2rem;
    height: 2rem;
  }

  .popup_btn span {
    height: 1.2rem;
    width: 1.2rem;
    font-size: .8rem;
  }
}

@keyframes cart_num {
  0% {
    transform: scale(0);
    box-shadow: 0px 0px 4px 2px #fff;
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 4px 10px transparent;
  }
}
