$break-small: 700px;

.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 195px;
  height: 100%;

  color: #5a5a5a;
  padding: 0 15px 15px;
  background-color: #fff;
  background-image: url('../../../assets/img/noisy-bg.png');
  box-shadow: inset -5px 0 8px #eee;
  border-right: 1px solid #ebebeb;
  z-index: 200;
  overflow: auto;
  transition: transform .3 ease-out;

  &.open {
    transform: translate(0);
  }

  &.close {
    transform: translate(-100%);
  }

  @media screen and (min-width: $break-small) {
    display: none;
  }

  &__header {
    padding: 10px 0;
    border-bottom: 1px solid #d8d8d8;
  }
}

.close-btn {
  position: relative;
  float: right;
  padding-right: 10px;
  color: #5a5a5a;
  font-weight: 100;

  &:hover {
    text-decoration: underline;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    width: 2px;
    height: 8px;
    background-color: #5a5a5a;
    border-radius: 2px;
    transform: rotate(40deg);
  }

  &:after {
    transform: rotate(-40deg);
  }
}
