$break-small: 700px;
$break-large: 900px;
$break-md: 1281px;

.contact-data {
  padding: 20px;
  border-top: 1px solid #d8d8d8;

  .page-title {
    font-size: 20px;
  }

  p {
    display: block;
    max-width: 490px;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
  }
}

.data-form {
  width: auto;
  max-width: 800px;
  margin: 30px 10px;

  @media screen and (min-width: $break-small) {
    margin: 2rem auto;
  }

  .btn {
    float: right;
    margin-bottom: 30px;
    max-width: 130px;
  }
}
