.data-form {
  width: auto;
  max-width: 800px;
  margin: 60px auto;

  &__btn {
    float: right;
    min-width: 130px;
    padding: .8rem;
    border: none;
    color: #5a5a5a;
    background-color: #f5c5d1;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:disabled {
      opacity: .3;
      color: #fff;
      cursor: not-allowed;
    }
  }
}
