$break-small: 700px;
$break-large: 900px;
$break-md: 1281px;

.cart {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 0;
    float: left;
    width: 100%;

    &:last-child {
      border: none;
    }
  }

  h3 {
    float: left;
    width: auto;
    font-size: 1rem;

    &:last-child {
      float: right;
    }
  }
}

.cart {
  .cart_item {
    float: left;
    width: 100%;
    border-bottom: 1px dashed #ccc;
    padding: 5px 0;

    &:last-child {
      border: none;
    }

    h3 {
      float: left;
      width: auto;
      font-size: 1rem;

      &:last-child {
        float: right;
      }
    }
  }
}

.final_price {
  border-top: 2px dashed #222;
  padding: 1rem 0;
  float: left;
  width: 100%;

  h3 {
    font-size: 1rem;
    float: left;
    width: auto;

    &:nth-child(even) {
      float: right;
    }
  }

  .cart_item {
    border: none;
    float: left;
    width: 100%;
  }
}

.order {
  .cart-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
      font-weight: 100;
    }

    &__ttl {
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    img {
      width: 5rem;

      @media screen and (min-width: $break-small) {
        width: 8rem;
      }
    }

    .cart-item__info {
      padding: 0 1rem;
      width: calc(100% - 5rem);

      @media screen and (min-width: $break-small) {
        width: calc(100% - 8rem);
        padding: 0.5rem 1rem;
      }
    }
  }

  .cart_left {
    float: left;
    width: 70%;
    overflow: auto;
    height: calc(100vh - 10rem);

    @media screen and (max-width: $break-small) {
      height: auto;
      width: 100%;
    }

    .cart-item {
      width: 100%;
      float: left;
      background: #fff;
      padding: 1rem;
      margin-bottom: .5rem;

      .cart_info {
        float: left;
        padding: 1rem;
        width: calc(100% - 8rem);

        @media screen and (max-width: $break-small) {
          width: calc(100% - 5rem);
        }
      }
    }
  }

  .cart_right {
    float: right;
    width: calc(30% - 1rem);
    margin: 0 0 0 .5rem;
    padding: 1rem;
    background: #fff;

    @media screen and (max-width: $break-small) {
      margin: 0;
      width: 100%;
    }

    .cart_item,
    .final_price {
      float: left;
      width: 100%;
      padding: .5rem 0;

      h3 {
        float: left;
        font-size: 1rem;
        &:last-child {
          float: right;
        }
      }
    }

    .final_price {
      border-top: 1px solid #d8d8d8;
      padding: 1rem 0;
      color: #5a5a5a;
      font-size: 1.5rem;

      &:first-child {
        border: none;
        padding: .5rem 0;
        color: #5a5a5a;
        font-size: 1.1rem;
      }
    }
  }
}
