$break-small: 700px;
$break-large: 900px;
$break-md: 1281px;

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d8d8d8;

  &:first-child {
    margin-top: 1rem;
  }

  &__img {
    flex-basis: 34%;
    max-height: 65px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;

      display: inline-block;
      vertical-align: middle;
    }
  }

  &__info {
    flex-basis: 60%;
  }

  &__ttl {
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}
